/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/support/rails_test_app/Gemfile.lock
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

.rspec_status
gemfiles/*.lock
spec/support/rails_test_app/db/*.sqlite3
spec/support/rails_test_app/db/*.sqlite3-journal
spec/support/rails_test_app/log/*.log
spec/support/rails_test_app/tmp/
